body{
    background: url('../image/homepage-background.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    color: white;
    font-size: 3rem;
}