body{
    background: url('../image/background.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box {
    /*border: 1px solid #333333;*/
    margin-top: 100px;
    width: 1000px;
    height: 500px;
    overflow: visible;
}

table {
    background-color: rgba(202, 136, 129, 0.8);
    /*position: relative;*/
    /*left: 0;*/
    /*margin-left: 100px;*/
    /*margin-right: 100px;*/
    border-collapse:separate;
    border-radius:10px;
}

.list-group .list-group-item{
    background-color: rgba(202, 136, 129, 0.8);
    color: white ;
    font-size: 1rem;
}

.search-results-container {
    /*min-height: 400px;*/
    /*margin-top: unset;*/
    max-width: 1000px;
    overflow-y: auto;
    /*z-index: 100;*/
}

.search-bar {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    /*margin-top: 100px;*/
    margin-bottom: 30px;
}

.container-bin-information{
    max-width: 1000px;
    overflow-y: auto;
}

/*table td:nth-child(3) {*/
/*    width: 1000px;*/
/*}*/

table td:nth-child(1) {
    width: 150px;
}

table td:nth-child(2) {
    width: 150px;
}

.list-group .list-group-item:nth-child(1) {
    width: 333px;
}

.list-group .list-group-item:nth-child(2) {
    width: 333px;
}

.list-group .list-group-item:nth-child(3) {
    width: 333px;
}

/*.text {*/
/*    text-align: center;*/
/*    color: white;*/
/*    font-size: 1rem;*/
/*}*/

/*.modal {*/
/*    position: absolute;*/
/*    top: 200px;*/
/*    right: 100px;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    z-index: 10040;*/
/*    overflow: auto;*/
/*    overflow-y: auto;*/
/*}*/

