.treepage{
    position: absolute;
    width:100%;
    height:1200px;
}

.treepage-bg{
    position: absolute;
    height:100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#treepagebg{
    background-image: url("background.png");
}

.treepagecontent{
    width:100%;
    margin:0 auto;
    text-align: center;
}

.treepagetext{
    margin-top:100px;
}

.treepagetext p{
    margin-top:20px;
    color:#000;
    font-size:20px;
    line-height:10px;
}

.treepagebtn{
    margin-top:450px;
    font-size:25px;
}