<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Onboarding Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="css/navigation.css" rel="stylesheet">
    <link href="css/articleStyle.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg bg-transparent nav-masthead float-md-end">
    <a class="nav-link fw-bold py-1 px-0" href="/">Home</a>
    <a class="nav-link fw-bold py-1 px-0" href="/rubbishHomepage">Waste Classification</a>
    <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/articleHomepage">Article Guide</a>
</nav>

<!--<div class="container-header">-->
<!--    <div class="fs-2 fs-bold">-->
<!--        Humans, you eat everything, why don't you eat rubbish bags?-->
<!--        We want evolution for the future not plastic pollution-->
<!--    </div>-->
<!--</div>-->

<div class="box center">
    <div>
        <div class="fs-2 fw-bold page-header" style="color: white">
            <div><span>
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                     width="50px" height="50px" viewBox="0 0 1280.000000 640.000000"
                     preserveAspectRatio="xMidYMid meet">
<metadata>
Created by potrace 1.15, written by Peter Selinger 2001-2017
</metadata>
<g transform="translate(0.000000,640.000000) scale(0.100000,-0.100000)"
   fill="#FFFFFF" stroke="none">
<path d="M9110 6363 c-775 -40 -1482 -284 -2240 -776 -556 -360 -1011 -738
-1945 -1617 -668 -629 -894 -831 -1195 -1066 -644 -504 -1159 -708 -1619 -640
-63 10 -119 19 -123 22 -4 3 3 27 17 53 93 184 526 596 1005 956 179 134 200
160 200 241 0 56 -27 104 -74 133 -36 23 -149 40 -451 68 -238 22 -895 25
-1045 5 -158 -22 -358 -63 -426 -89 -7 -3 -13 32 -18 104 -16 259 -84 682
-162 1022 -84 363 -241 885 -286 951 -47 69 -138 89 -213 47 -54 -30 -84 -94
-179 -377 -118 -355 -208 -710 -271 -1070 -60 -346 -79 -569 -79 -920 0 -319
12 -466 60 -713 146 -750 550 -1304 1182 -1621 308 -154 628 -244 1087 -303
116 -15 320 -17 1951 -20 l1821 -4 7 -67 c16 -163 78 -315 168 -417 287 -322
851 -295 1698 82 157 70 525 257 683 347 l99 56 1386 0 c1315 0 1392 1 1477
19 365 76 671 346 899 794 116 228 159 367 210 684 46 280 60 472 60 818 0
325 -11 491 -50 725 -214 1283 -969 2112 -2214 2429 -308 78 -636 124 -1020
141 -215 9 -276 10 -400 3z"/>
</g>
</svg></span>&nbsp;: "Why don't humans consume rubbish bags themselves??"
            </div>
            <div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ─ We want
                evolution for the future not plastic pollution
            </div>
        </div>
        <br>
        <div class="page-header-content fw-bold content-text">
            Australian households nowadays rely heavily on plastics usage in daily life, and they are
            non-biodegradable
            plastics.
            Non-biodegradable plastics are not recyclable or landfilled since the components are not
            easily
            broken down and decompose. As a result, it has caused severe environmental pollution and social issues
            and
            even caused a huge negative impact on the Australian economy. Hence, Victoria state authorities and
            relevant
            local councils set a series of policies and environmental saving solutions to mitigate and address the
            issues.
        </div>
    </div>

    <div class="card mb-3" style="max-width: 1000px; max-height: 500px">
        <div class="row g-0">
            <div class="col-md-4 fill">
                <img src="image/Small.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title fw-bold">Small acts make a big impact</h4>
                    <p class="card-text">
                    <p class="fw-semibold fst-italic">tags: Environmental protection; Daily waste
                    </p>
                    </p>
                    <p class="card-text">
                        Small acts, like putting the right things into the right bins and remembering to take your
                        reusables when you leave home, have a big impact on our environment.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            <a href="https://www.sustainability.vic.gov.au/recycling-and-reducing-waste/at-home/small-acts-big-impact">
                                https://www.sustainability.vic.gov.au/recycling-and-reducing-waste/at-home/small-acts-big-impact
                            </a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 1000px; max-height: 500px">
        <div class="row g-0">
            <div class="col-md-4 fill">
                <img src="image/Recycling.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title fw-bold">About Recycling Victoria</h4>
                    <p class="card-text">
                    <p class="fw-semibold fst-italic">tags: V.I.C. Policy; Environmental protection
                    </p>
                    </p>
                    <p class="card-text">
                        Recycling Victoria's purpose is to strengthen Victoria's waste and recycling system. It aims to
                        increase the reliability and transparency of the sector and maximise the ongoing use of products
                        and materials that would otherwise be waste.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            <a href="https://www.vic.gov.au/about-recycling-victoria">
                                https://www.vic.gov.au/about-recycling-victoria </a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 1000px; max-height: 500px">
        <div class="row g-0">
            <div class="col-md-4 fill">
                <img src="image/planet.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title fw-bold">Our planet</h4>
                    <p class="card-text">
                    <p class="fw-semibold fst-italic">tags: Plastic pollution; Marine pollution
                    </p>
                    </p>
                    <p class="card-text">
                        while plastic has many valuable uses, we have become addicted to single-use plastic products —
                        with severe environmental, social, economic and health consequences.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            <a href="https://www.unep.org/interactives/beat-plastic-pollution/?gclid=Cj0KCQiAgaGgBhC8ARIsAAAyLfFdqtjJ0lOjDtwwzkss5KVtfvfk431qAj62VjXq68FwzmW2Vpo35JQaAvVqEALw_wcB">
                                https://www.unep.org/interactives/beat-plastic-pollution/?gclid=Cj0KCQiAgaGgBhC8ARIsAAAyLfFdqtjJ0lOjDtwwzkss5KVtfvfk431qAj62VjXq68FwzmW2Vpo35JQaAvVqEALw_wcB </a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 1000px; max-height: 500px">
        <div class="row g-0">
            <div class="col-md-4 fill">
                <img src="image/Plan.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title fw-bold">Strategic Plan 2022-27</h4>
                    <p class="card-text">
                    <p class="fw-semibold fst-italic">tags: V.I.C. Policy; Sustainable Development Goals
                    </p>
                    </p>
                    <p class="card-text">
                        Our Strategic Plan 2022-27 defines our purpose and the outcomes we want to see in this period.
                        The plan describes the strategic choices we’ve made to secure those outcomes, what we aim to
                        achieve and how we’ll measure our performance.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            <a href="https://www.epa.vic.gov.au/about-epa/strategic-plan-2022-27">
                                https://www.epa.vic.gov.au/about-epa/strategic-plan-2022-27 </a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 1000px; max-height: 500px">
        <div class="row g-0">
            <div class="col-md-4 fill">
                <img src="image/waste.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title fw-bold">What a waste: An analysis of household expenditure on food</h4>
                    <p class="card-text">
                    <p class="fw-semibold fst-italic">tags: Household waste; Food waste
                    </p>
                    </p>
                    <p class="card-text">
                        Australian households are throwing out more than $5 billion worth of food each year, more than
                        Australians spend on digital equipment, and more than it costs to run the Australian Army. In
                        addition to the direct financial costs of this waste, the environmental impact associated with
                        excessive greenhouse gas emissions and water use is substantial. This paper examines who is
                        wasting food and the motivations behind this behaviour.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            <a href="https://australiainstitute.org.au/wp-content/uploads/2020/12/PB-6-What-a-waste-final_7.pdf">
                                https://australiainstitute.org.au/wp-content/uploads/2020/12/PB-6-What-a-waste-final_7.pdf </a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 1000px; max-height: 500px">
        <div class="row g-0">
            <div class="col-md-4 fill">
                <img src="image/Consumption.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title fw-bold">Wasteful Consumption in Australia</h4>
                    <p class="card-text">
                    <p class="fw-semibold fst-italic">tags: Wasteful Consumption; Attitudes to waste
                    </p>
                    </p>
                    <p class="card-text">
                        This report estimates that Australians spend more than $10.5 billion each year on goods and
                        services from which they derive no benefit. The paper examines the phenomenon of wasteful
                        consumption and explores its implications.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            <a href="https://australiainstitute.org.au/wp-content/uploads/2020/12/DP77_8.pdf">
                                https://australiainstitute.org.au/wp-content/uploads/2020/12/DP77_8.pdf </a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    let url = window.location.href
    document.querySelector('#shareBtn')
        .addEventListener('click', event => {
            if (navigator.share) {
                navigator.share({
                    title: 'Rubbish Sorting Website',
                    url: url
                })
            } else {
                alert("Please check your browser!");
            }
        })
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous">
</script>

</body>
</html>