<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sorting Rubbish</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/rubbishHomepage}]]";
    }
</script>

<body>

<div class="container-fluid text-center">
    <div><h2>Sorting Rubbish</h2></div>

    <form th:action="@{/rubbishHomepage}">
        <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
        &nbsp;
        <input type="submit" value="Search" />
        &nbsp;
        <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
    </form>

    <div>
        <table class="table table-bordered">

            <tr th:each="rubbish : ${rubbishes}">
                <td>ID: [[${rubbish.id}]]</td>
                <td>[[${rubbish.name}]]</td>
                <td>[[${rubbish.recycleType}]]</td>
                <td>[[${rubbish.description}]]</td>
            </tr>

        </table>
    </div>
</div>

</body>
</html>