<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Onboarding Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/rubbishStyle.css">
    <link href="css/navigation.css" rel="stylesheet">
    <style>
        .table-header {
            display: none;
        }
    </style>
</head>

<body>

<div>

    <nav class="navbar navbar-expand-lg bg-transparent nav-masthead float-md-end">
        <a class="nav-link fw-bold py-1 px-0" href="/">Home</a>
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/rubbishHomepage">
            Waste Classification</a>
        <a class="nav-link fw-bold py-1 px-0" href="/articleHomepage">Article Guide</a>
    </nav>

    <div class="box">
        <div class="search-bar text-center">
            <div class="fw-bold fs-1 text-light">
                Sorting Rubbish
            </div>
            <br>
            <div class="container-search">
                <form th:action="@{/rubbishHomepage}">
                    <input type="text" name="keyword" size="50" th:value="${keyword}" required
                           placeholder="Rubbish Item" id="search-bar"/>
                    &nbsp;
                    <input type="submit" class="btn btn-light" value="Search" id="submit-button"/>
                    &nbsp;&nbsp;
                    <input type="button" value="Clear" class="btn btn-light" onclick="clearSearch()" id="clear-button"/>
                </form>
            </div>
        </div>

        <button type="button" class="btn btn-outline-light" id="shareBtn">
            <div class="fs-6 fst-italic">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-star" viewBox="0 0 16 16">
                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg>
                Share With Friends
            </div>
        </button>

        <div class="container-bin-information">
            <ul class="list-group list-group-horizontal table-borderless">
                <li class="list-group-item" style="border: none">
                    <br>
                    <div style="text-align:center;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="66px" height="66px" fill="#2E8B57"
                             class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </div>
                    <br>
                    <div class="fw-bold">
                        <div class="fs-5" style="text-align:center;">
                            Green bin
                        </div>
                        <br>
                        <div>
                            Used to dispose of <span class="text-decoration-underline">organic waste</span>. However,
                            they should not be
                            used for plastic bags, gardening tools or flower pots.
                        </div>
                    </div>
                </li>
                <li class="list-group-item" style="border: none">
                    <br>
                    <div style="text-align:center;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="66px" height="66px" fill="yellow"
                             class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </div>
                    <br>
                    <div class="fw-bold">
                        <div class="fs-5" style="text-align:center;">
                            Yellow bin
                        </div>
                        <br>
                        <div>
                            Used for <span class="text-decoration-underline">recyclable waste</span>, fed into a
                            high-tech machine that analyses the
                            waste and separates it into different types.
                        </div>
                    </div>
                </li>
                <li class="list-group-item" style="border: none">
                    <br>
                    <div style="text-align:center;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="66px" height="66px" fill="red"
                             class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </div>
                    <br>
                    <div class="fw-bold">
                        <div class="fs-5" style="text-align:center;">
                            Red bin
                        </div>
                        <br>
                        <div>
                            Designed to hold <span class="text-decoration-underline">general household waste</span>.
                            This type of waste takes a
                            long time to decompose and is the most harmful to the environment, so make sure you protect
                            the environment by putting your waste in biodegradable bags.
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="search-results-container ">
            <table class="table table-borderless">
                <thead class="table-header">
                <tr>
                    <th scope="col" style="color:#FFFFFF">Type</th>
                    <th scope="col" style="color:#FFFFFF">Bin</th>
                    <th scope="col" style="color:#FFFFFF">About</th>
                    <th scope="col" style="color:#FFFFFF">Tips</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="rubbish : ${rubbishes}">
                    <td style="color:#FFFFFF; font-weight:bold">[[${rubbish.waste}]]</td>
                    <td style="color:#FFFFFF; font-weight:bold">[[${rubbish.bin}]]</td>
                    <td style="color:#FFFFFF">[[${rubbish.about}]]</td>
                    <td style="color:#FFFFFF">[[${rubbish.tips}]]</td>

                    <!--                    <td>-->
                    <!--                        <button id="moreInfo" onclick="MoreInfo()">-->
                    <!--                            More Info-->
                    <!--                        </button>-->
                    <!--                    </td>-->

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>


<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/rubbishHomepage}]]";
    }
</script>

<script>
    const tableHeader = document.querySelector('.table-header');
    const binInfo = document.querySelector('.container-bin-information')
    const tableBody = document.querySelector('tbody');
    if (tableBody.rows.length === 0) {
        tableHeader.style.display = 'none';
    } else {
        tableHeader.style.display = 'table-header-group';
        binInfo.style.display = 'none';
    }
</script>

<!--<script>-->
<!--    function Success() {-->
<!--        if (tableBody.rows.length === 0) {-->
<!--            Swal.fire({-->
<!--                icon: 'error',-->
<!--                title: 'Oops...',-->
<!--                text: 'Something went wrong!',-->
<!--                footer: '<a href="">Why do I have this issue?</a>'-->
<!--            })-->
<!--        } else {-->
<!--            Swal.fire({-->
<!--                position: 'top-end',-->
<!--                icon: 'success',-->
<!--                title: 'Your work has been saved',-->
<!--                showConfirmButton: false,-->
<!--                timer: 1500-->
<!--            })-->
<!--        }-->
<!--    }-->
<!--</script>-->
<!--<script type="text/javascript">-->
<!--    const search = document.getElementById("search");-->

<!--    function modalDisplay() {-->
<!--        if (tableBody.rows.length === 0) {-->
<!--            alert("item does not exist");-->
<!--        }-->
<!--    }-->
<!--    search.addEventListener("click", modalDisplay)-->

<!--</script>-->

<script>
    function MoreInfo() {
        Swal.fire(about + tips + "Our First Alert");
    }

    // const moreInfo = document.querySelectorAll('.moreInfo');
    // moreInfo.forEach(btn => {
    //     btn.addEventListener('click', () => {
    //         const about = btn.dataset.about;
    //         // call function to retrieve additional information using productId
    //         // display additional information in modal dialog
    //         alert( about + "Our First Alert");
    //     });
    // });

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<!--<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
</html>

<!DOCTYPE html>